@use 'mixins/mixins' as *;
@use 'mixins/config' as *;

@include b(search) {
  .#{$plus-namespace + -form__row} {
    row-gap: 18px;
  }

  &.#{$el-namespace + -form--inline} {
    .#{$el-namespace + -form-item} {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  @include e(unfold) {
    margin-left: 12px;
  }

  @include e(button__wrapper) {
    flex: auto;
    max-width: 100%;
    margin-bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    &.#{$el-namespace + -form-item} {
      margin-right: 10px;
    }

    @include elb(form-item__content) {
      flex-wrap: nowrap;
      flex: none;
    }
  }
}
